<div class = 'user'>
  <input [(ngModel)] = "user" type = "text">
</div>
<div>
  <button (click) = "changeUser()"> Change User </button>
</div>
<div>
  {{user}}
</div>

<div>
    <ul>
      <todo *ngFor = "let todo of todos"
            [data] = "todo"
            (myButtonClicked) = "showText($event)"></todo>
    </ul>
  </div>
  
  <div>You've clicked on {{show}}</div>