<mat-card class="example-card">
  <mat-card-content>
    <a routerLink = "">Todos</a>-
    <a routerLink = "/login" *ngIf="!(authService.user | async)">Login</a>-
    <button (click) = "toRegister()">
      Register
    </button>-
    <button (click) = "toCodes()">
      Codes
    </button>-
    <!-- <button (click) = "toUsertodos()">
      User Todos
    </button>- -->
    <button (click) = "logOut()" *ngIf="authService.user | async">
      Log Out
    </button>
  </mat-card-content>
</mat-card>
<div *ngIf="authService.user | async">
  <h1>Welcome {{(authService.user | async)?.displayName }}!</h1>
</div>