<div>
  <ul>
    <todo *ngFor = "let todo of todos"
          [data] = "todo"
          (myButtonClicked) = "showText($event)"></todo>
  </ul>
</div>

<div>You've clicked on {{show}}</div>
<br>
<div>
  <mat-form-field>
    <input [(ngModel)] = "task" matInput type = "text" placeholder="add todo">
    <mat-hint>Add Todo</mat-hint>
  </mat-form-field>
</div>
<br>
<div>
  <button mat-raised-button (click) = "addTodo()"> Add Todo </button>
</div>